<div class="landing">
	<div class="landing__wrap">
		<div class="landing__grid">
			{{#each links}}
				<div class="landing__grid-item grid-item">
					<a href="{{this.slug}}" class="grid-item__link">
						<div class="grid-item__content">
								<div class="grid-item__image-wrap" data-key={{@index}}>
									{{#modulo nth=4}}
										<img src="{{../asset_path}}{{ this.imgs.wide.img }}" alt="{{ this.imgs.wide.alt }}" class="grid-item__image grid-item__image--wide">
									{{else}}
										<img src="{{../asset_path}}{{ this.imgs.normal.img }}" alt="{{ this.imgs.normal.alt }}" class="grid-item__image grid-item__image--normal">
									{{/modulo}}
									<div class="grid-item__image-border"></div>
								</div>
								<p class="grid-item__title">
									{{this.title}}
								</p>
								<p class="grid-item__date">
									{{this.date}}
								</p>
						</div>
					</a>
				</div>
			{{/each}}
		</div>
	</div>
</div>