<div class="landing">
	<div class="landing__wrap">
		<div class="landing__grid">
			{{#each links}}
				<div class="landing__grid-item grid-item" data-scroll="reveal">
					<a href="{{this.slug}}" class="grid-item__link">
						<div class="grid-item__content">
								<div class="grid-item__image-wrap" data-key={{@index}}>
									<img
										{{!-- width="{{ this.width }}"
										height="{{ this.height }}" --}}
										data-srcset="
										{{#each this.imgs.wide.srcs }}
											{{~../../asset_path}}{{this.path}} {{ this.w }}w,
										{{/each}}
										"
										data-sizes="
										(max-width: 699px) 458px,
										(max-width: 1200px) 915px,
										(max-width: 1500px) 1373px,
										(min-width: 3000px) 3660px
										1830px"
										data-src="{{../asset_path}}{{ this.imgs.wide.img }}"
										alt="{{ this.imgs.wide.alt }}"
										data-im-lazy="solazy"
										class="grid-item__image grid-item__image--wide">
									<div class="grid-item__image-border"></div>
								</div>
								<p class="grid-item__title">
									{{~this.title~}}
								</p>
								<p class="grid-item__date">
									{{~this.date~}}
								</p>
						</div>
					</a>
				</div>
			{{/each}}
		</div>
	</div>
</div>
